@font-face {
    font-family: Techfont;
    src: url(../fonts/Techfont.ttf);
}

.curriculo {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;  
    
    
    }


.container {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    align-content: center;
    
}

.perfil{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
    justify-content: center;
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
}

.perfil h1{
    font-size: 40px;
    height: 50px;
    width: 500px;
    letter-spacing: 1px;
    margin-left: 0px;
    margin-top: 10px;
    font-family: Techfont;
    
    
}

.perfil p{
    font-size: 25px;
    margin-top: 10px;
    letter-spacing: 2px;
    line-height: 25px;
    font-family: Techfont;
    height: 150px;
    width: 600px;
    
}

.perfil p img{
    height: 20px;
    width: 20px;
    margin-top: 10px;
}

.foto img{
    height: 400px;
    width: 300px;
    border-radius: 20px;
}   
    
.container1 {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    	
  
}

.softskill {
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
   
    
 
}

.softskill p {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 25px;
    font-family: Techfont;
    margin-left: 80px;
    margin-top: 50px;

}

.imgsoftskill img {
    margin-left: 100px;
    margin-top: 10px;
    height: 300px;
    width: 300px;
 
}

.container2 {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    
    	
  
}
.hardskill {
    display: flex;
    margin-top: 5px;
    margin-left: 0px;
    height: 400px;
    width: auto;
    align-self: center;
}

.hardskill p {
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 25px;
    font-family: Techfont;
    margin-left: 80px;
    margin-top: 20px;
    
    

}

.imghardskill img {
    margin-left: 100px;
    margin-top: 10px;
    height: 300px;
    width: 300px;
      
    
}


.container3 {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    
    	
  
}

 .experiencia {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 0px;
    height: 400px;
    width: auto;
    align-self: center;
    }

 .experiencia h1 {
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
    font-family: Techfont;
    } 

.experiencia p {
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    font-family: Techfont;
        
} 

.experiencia p3 {
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    font-family: Techfont;
    text-align: left;
   
}


.experiencia p1 {
    height: 20px;
    width: 300px;
    margin-top: 20px;
    margin-left: 50px;
    font-family: Techfont;
    
}

.experiencia2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 0px;
    height: 400px;
    width: auto;
    }

.experiencia p2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: Techfont;
      
} 

.experiencia2 p {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 25px;
    font-family: Techfont;
    
} 


.experiencia2 p1 {
    height: 20px;
    width: 300px;
    margin-top: 20px;
    margin-left: 50px;
    font-family: Techfont;
 }

.experiencia2 p2 {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: Techfont;
}

.experiencia2 p3 {
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    font-family: Techfont;
    text-align: left;
}





.formacao {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 0px;
    height: 400px;
    width: auto;
    align-self: center;
    align-items: center;
}

.formacao h1 {
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
    font-family: Techfont;
    
} 

.formacao p {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
    font-family: Techfont;
    
} 

.formacao p3 {
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    font-family: Techfont;
    text-align: left;
    
}


.formacao p1 {
    height: 20px;
    width: 300px;
    margin-top: 20px;
    margin-left: 50px;
    font-family: Techfont;
   
}

.container4 {
    display: flex; 
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}


.contato{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: auto;
    align-items: center;
    
    
    
}

.contato h1 {
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
    font-family: Techfont;
}

.linkedin{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    
    
}

.github {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    
    
}
.linkedin img {
    margin-top: 0px;
    margin-left: 0px;
    height: 150px;
    width: 150px;
}

.github img {
    margin-top: 0px;
    margin-left: 0px;
    height: 150px;
    width: 150px;
}












